<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Negocios
    </ion-title>
    <div *ngIf="afAuth.authState | async; let user;">
      {{ afAuth.auth.currentUser.displayName }}{{ (usuarioPuntos | async)?.puntos }}
    </div>

  </ion-navbar>
  <button (click)="login()">Login with Google</button>
</ion-header>

<ion-content>
  <!--<ion-fab *ngFor='let negocio of negocios | async'>
    <button ion-fab color="dark" (click)="sumarPuntos()">
    {{ negocio.nombre }}
        </button>
  </ion-fab>-->

  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let negocio of negocios | async' col-4>
        <ion-fab>
          <button ion-fab color="dark" (click)="sumarPuntos()">
            {{ negocio.nombre }}
        </button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
